.home{
    background-color: #f4f0f0d8;
    padding: 100px 0;
    text-align: center;

    .home-content{
        max-width: 800px;
        margin: 0 auto;

        h1{
            font-size: 36px;
            margin-bottom: 20px;
        }
        @media(max-width: 768px){
            font-size: 28px;
        }
        p{
            font-size: 18px;
            color: #090909;
            margin-bottom: 40px;

            @media(max-width: 768px){
            font-size: 16px;
        }
        }
        button{
            padding: 12px 24px;
        }
    }
}