.course-study-page{
    padding: 50px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;

    h2{
        font-size: 24px;
        color: rgb(150, 40, 145);
        text-align: center;

    }
    h4{
        font-size: 21px;
        color: rgb(150, 40, 145);
        text-align: center;
        
    }
    h5{
        font-size: 20px;
        color: rgb(150, 40, 145);
        text-align: center;
        
    }
    a{
        text-decoration: none;
        background-color: #fcfbfc;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 5px;
    }
}